fastapi==0.103.2
requests==2.31.0
spacy==3.7.1
uvicorn==0.23.2

# models for SpaCy
#en-core-web-sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
